body {
  font-family: Helvetica;
  margin: 0 auto;
  align-content: center;
}
.header h1 {
  margin-left: 20px;
}
.header a {
  color: #1798C1;
}
.header a:hover {
  text-decoration: none;
  color: #1798C1;
}
#chart {
  align-content: center;
}
.row {
  width: 1440px;
  margin: 0 auto !important;
}
.playsInfo {
  height: 300px;
}
