body {
	font-family: Helvetica-light;
	margin: 0 auto;
}

.content {
	align-content: center;
}

.title h1 {
	color: #1798C1;
	margin-left: 20px;
}

nav {
	background-color: #444444;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-bottom: 20px;
	padding-left: 20px;
}

.dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.category {
	color: white;
}

.category:hover {
	cursor: default;
}

.dropdown p {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.dropdown-content {
	align-content: center;
	color: #aaaaaa;
	display: none;
	position: absolute;
	max-height: 200px;
	z-index: inherit;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.links div {
	text-align: center;
}

.season-content {
	min-width: 50px;
	padding-bottom: 5px;
}

.week-content {
	min-width: 60px;
}

.dropdown-content a div:hover {
	color: white;
}

.dropdown:hover {
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: #444444;
}

#chart {
	height: 500px;
	width: 1000px;
	align-content: center;
	margin: 0 auto;
}