.endzoneLogo {
    width: 82px;
    height: 444.33px;
    position: absolute;
    background-size: cover;
    z-index: 9999;
}

.homeEndzone {
	top: 0px;
    left: 0px;
}

.awayEndzone {
	top: 0px;
	left: 918px;
	transform: rotate(180deg);
}

.endzoneLogo.team-ari {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-atl {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-bal {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-buf {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-car {
    background-image: url(../images/endzones/Seahawks2.png)
}

.endzoneLogo.team-chi {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-cin {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-cle {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-dal {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-den {
    background-image: url(../images/endzones/Seahawks2.png)
}

.endzoneLogo.team-det {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-gb {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-hou {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-ind {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-jac {
    background-image: url(../images/endzones/Seahawks2.png)
}

.endzoneLogo.team-kc {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-mia {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-min {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-ne {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-no {
    background-image: url(../images/endzones/Seahawks2.png)
}

.endzoneLogo.team-nyg {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-nyj {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-oak {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-phi {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-pit {
    background-image: url(../images/endzones/Seahawks2.png)
}

.endzoneLogo.team-stl {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-sd {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-sf {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-sea {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-tb {
    background-image: url(../images/endzones/Seahawks2.png)
}

.endzoneLogo.team-ten {
    background-image: url(../images/endzones/Seahawks2.png)
}
.endzoneLogo.team-was {
    background-image: url(../images/endzones/Seahawks2.png)
}