@WIDTH: 1000px;
@HEIGHT: 444.33px;
@ARROWHEIGHT: 20px;

.fieldWidgetContainer {
	background-image: url(../images/main_field_background.jpg);
	background-size: @WIDTH @HEIGHT;
	width: @WIDTH;
	height: @HEIGHT;
	padding: 0;
	margin-top: 20px;
	margin-left: 50px;
}

.fieldWidget {
	background-image: url(../images/main_field.png);
	background-size: @WIDTH @HEIGHT;
	width: @WIDTH;
	height: @HEIGHT;
	padding: 0;
	position: relative;
	margin-bottom: 40px;
	.fieldArrow {
		position: absolute;
		top: (@HEIGHT / 2) - (@ARROWHEIGHT / 2);
		height: @ARROWHEIGHT;
		z-index: 4;
	}
}

.playDescription .swingProb {
	color: #00ff00;
}

.playDescriptionContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent;
	text-align: center;
	.playDescription {
		display: inline-block;
	    width: auto;
	    background-color: rgba(0, 0, 0, 0.7);
	    padding: 8px;
	    position: relative;
	    top: 80px;
	    font-size: 24px;
	    color: white;
	    z-index: 5;
	    border-radius: 5px;
		.backdrop, .content {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.backdrop {
			opacity: .2;
		}
	}
}

.endzoneHighlight {
	width: 100%;
	height: 100%;
	background-color: #00ff00;
	opacity: 0.5;
}

.flipped {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.verticalLine {
	border-left-width: 5px !important;
	width: 0;
	position: absolute;
	height: @HEIGHT;
	z-index: 3;
}

.verticalLineGrayDashed {
	border-left: dashed #ccc;
	border-left-width: 3px !important;
}

.verticalLineBlue {
	border-left: solid rgba(26, 132, 255, 1.0);
}

.verticalLineYellow {
	border-left: solid rgba(245, 234, 101, 1.0);
}

.footballSprite {
	position: absolute;
	top: 360px;
	height: 40px;
	width: 40px;
}

.ytg {
	margin-top: 5px;
	color: #ccc;
	font-size: 14px;
}

.negativeYard {
	background-color: red;
}

.goalpost {
	position: absolute;
	z-index: 3;
	width: 100px;
	height: 100px;
	background: url(https://izzyjustice.files.wordpress.com/2013/02/goal20post2020020x20200.gif);
	background-size: contain;
	&.leftGoalpost {
		top: @HEIGHT / 2 - 50;
		left: -80px;
		transform: rotate(-90deg);
	}
	&.rightGoalpost {
		top: @HEIGHT / 2 - 50;
		right: -80px;
		transform: rotate(90deg);
	}
}

// Inspired by http://jsfiddle.net/mmansion/DpNYu/

@POSITIVE_YARDS_COLOR: #00ff00;
@NEGATIVE_YARDS_COLOR: #ff7000;
@TURNOVER_COLOR: red;

.fieldArrow {
    .arrowPartsContainer {
        position: relative;
    }

    .arrowStem {
        display: inline-block;
        height: 5px;
        position: absolute;
        top: (@ARROWHEIGHT / 2) - 2.5;
    }

    .arrowHead {
	position: absolute;
	    display: inline-block;
	    width: 0;
	    height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid green;
		right: 0;
		i {
		    display: block;
		    position: relative;
		    top: -10px;
		    left: -10px;
		    width: 0;
		    height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 3px solid transparent;
		}
	}

    &.positiveYards {
        .arrowHead {
            border-left: 10px solid @POSITIVE_YARDS_COLOR;
        }
        .arrowStem {
            background-color: @POSITIVE_YARDS_COLOR;
        }
    }
    &.negativeYards {
        .arrowHead {
            border-left: 10px solid @NEGATIVE_YARDS_COLOR;
        }
        .arrowStem {
            background-color: @NEGATIVE_YARDS_COLOR;
        }
    }
    &.turnover {
        .arrowHead {
            border-left: 10px solid @TURNOVER_COLOR;
        }
        .arrowStem {
            background-color: @TURNOVER_COLOR;
        }
    }
}