body {
	font-family: Helvetica;
	margin: 0 auto;
	align-content: center;
}

.header a {
	color: #1798C1;
}

.header a:hover {
	text-decoration: none;
	color: #1798C1;
}

#chart {
	align-content: center;
}

.playsInfo {
	height: 300px;
}


